*/ html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rosario:wght@700&display=swap');

h1,
h2 {
    font-family: 'Rosario';
    font-size: 70px;
    line-height: 90px;
    color: #222222;
    position: relative;
    margin: 0px;
}

h1{
    text-align: center;
}


h3 {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 30px;
    color: #000000;
}

h4 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
}

h5 {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    height: 36px;
    width: 210px;
    margin: 0px;
    color: #222222;

}

h6 {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
    color: #000000;
}

.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.clearfix{
    clear: both;
}

.w40{
    width: 400px;
    float: left;
    margin: 40px 120px 40px 60px;
}

.w40right{
    width: 350px;
    float: right;
    margin: 40px 20px 60px 80px; 
}

.w40 li{
    float: left;
    margin-right: 25px;
}

.w40right li{
    float: left;
    margin-right: 25px;
   
}

ul.top-menu {
    overflow: auto;
}

ul.rightMenu {
    overflow: auto;
    float: left;
}

a {
    text-decoration: none;
    color: #222222;
    font-size: 18px;
    display: inline-block;
}

.navbar-logo {
    position: relative;
    margin: 35px 100px;
}

.btt{
    background: #09A66D;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 160px;
    font-size: 18px;
}

.textButt{
    width: 114px;
    height: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.s1 {
    background-color: #F3FBF8;
    background-image: url(../img/freshMelientha.png);
    background-repeat: no-repeat;
    background-position:left, 600px  400px;
    clear: both;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #555555;
    
}

.top-menu {
    font-weight: 400;
    line-height: 24px;
    background: white;
}

.blocktext {
    font-weight: 400;
    color: #555555;
    text-align: center;
}

.Button2{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}
.text-btt2{
    width: 200px;
    float: left;
    height: 90px;
    text-align: center;
    color: #222222;
    font-weight: 600;
    line-height: 30px;
    margin-left: 566px;
}

.btt2 {
    background: #09A66D;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    font-size: 18px;
}

i.fa-solid{
    font-size: 50px;
    color:white;
}

.s2{
    width: 70%;
    margin-left: 120px;
    float: left;
}

.s3{
    font-family: 'DM Sans';
    width: 150px;
    margin-right: 250px;
    float: right;
}
.icons3{
    float: left;
}

.post {
    font-size: 14px;
    font-weight: 400;
}

.SectionL{
    width: 50%;
    overflow: auto;
    padding: 0px;
    float:left ;
}


.containerL{
    clear: both;
    margin: 0px;
    float:left;
}

img.iconWrap{
    float: left;
    width: 40px;
    margin: 40px 20px;
}

.bg{
    background-color: #F3FBF8;
}

.SectionR{
    overflow: auto;
    width: 40%;
   float: right;
}

.items1{
    width: 600px;
    float: left;
    margin: 30px;
}

.container2{
    clear: both;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.reviews{
    clear: both;
}

.container3{
    clear: both;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.text{
    clear: both;
}

.itemButton{
    float: left;
    margin-left: 20px;
}

.itemPicture{
    float: right;
}

.reviewLeft{
    width: 650px;
    height: 440px;
    padding-left: 100px;
    margin: 0px;
    float: left;
}

.name{
    float: left;
}

.buttons{
    float: right;
    margin: 20px 80px 50px 20px;
}

.reviewsRight{
    width: 300px;
    float: right;   
}

.DownloadApp{
    overflow: auto;
    clear: both;
}

.conteiner4{
    overflow: auto;
    clear: both;
    width: 100%;
    max-width: 1400px;
    margin:  150px 100px;

}

.conteiner4Left{
    width: 20%;
    overflow: auto;
    padding: 0px 100px;
    float: left;
    
}

.conteiner4Right{
    overflow: auto;
    width: 50%;
    float: right;

}

.footer {
    clear: both;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #555555;
}

.footertext{
    width: 340px;
    margin-left: 100px;
    float: left;
}

ul.footer {
    overflow: auto;
    float: right;  
    text-indent: 150px;
    line-height: 50px;
}

li footer{
  word-spacing: 10px;
}

a.footer{
    float: right;
    overflow: auto;
}

ul.footer :first-child {
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    padding: 0px;
    color: #222222;
}


.iconsFooter{
    
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

div.footerblock{
    overflow: auto;
    float:left;
}
.mail{
    height: 50px;
}
