*/ html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rosario:wght@700&display=swap');

h1,
h2 {
    font-family: 'Rosario';
    font-size: 70px;
    line-height: 90px;
    color: #222222;
    position: relative;
}

h1{
    text-align: center;
}


h3 {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    width: 150px;
}

h4 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
}

h5 {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #222222;

}

h6 {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}
.w40{
    width: 40%;
    float: left;
    display: inline-block;
    margin: 40px 25px 40px 60px;
}

.w40right{
    width: 40%;
    float: right;
    display: inline-block;
    margin: 40px 20px 60px 80px; 
}

.w40 li{
    float: left;
    margin-right: 25px;
}

.w40right li{
    float: left;
    margin-right: 25px;
   
}

ul.top-menu {
    overflow: auto;
}

ul.rightMenu {
    overflow: auto;
    float: left;
}

a {
    text-decoration: none;
    color: #222222;
    font-size: 18px;
    display: inline-block;
    padding: 3px;
}

.navbar-logo {
    position: relative;
    margin-top: 35px;
}

.s1 {
    background-color: #F3FBF8;
    background-image: url(../img/freshMelientha.png);
    background-repeat: no-repeat;
    clear: both;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #555555;
    
}

.top-menu {
    font-weight: 400;
    line-height: 24px;
    background: white;
}

.blocktext {
    font-weight: 400;
    color: #555555;
    text-align: center;
}

.btt2 {
    position: relative;
    left: 50%;
}

.s2{
    width: 1000px;
    float: left;
}

.s3{
    width: 150px;
    margin-right: 100px;
    float: right;
}
.icons3{
    float: left;
}

.post {
    font-size: 14px;
    font-weight: 400;
}

.SecSectionL{
    width: 50%;
    overflow: auto;
    margin-left: 100px;
    padding: 0px;
}

.secLev{
    margin-left: 100px;
}

.containerL{
    clear: both;
    margin: 0px;

}

img.iconWrap{
    float: left;
    margin: 40px 20px;

}

.bg{
    background-color: #F3FBF8;
}

.SecSectionR{
    overflow: auto;
    width: 40%;
   float: right;
}

.secLev{
    margin-left: 100px;
    
}

ul.footer :first-child {
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    color: #222222;
}

.footer {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #555555;
}